<!-- For password reset--> 
<!doctype html>
<html>
    <body>
        <html>
            <body>
                <p>
                    Here is the password token code. Please type  <h1> <b> "{{email_token_db}}" </b> </h1> in the form. 
                    If you did not make this request then simply ignore this email and no changes will be made. 
                    To fill out the token so you can reset your password, visit the following link: 
                    <!-- for security purposes you want to be able to see the full link?-->
                    <a href="{{url_for('email_password_reset.verify_email_token', username_db=username_db, token_db=token_db, _external=True)}}" target="_blank">
                        url_for('email_password_reset.verify_email_token', username_db=username_db, token_db=token_db, _external=True)
                    </a> 
                </p>
            </body>
        </html>
    </body>
</html>   








<!-- make sure _send_password_reset_email.html -->