{%extends "layout.html"%}
    {% block title %} {{title}} {% endblock title %} 
    {%block content%}
    <p class="d-flex justify-content-center">
        <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptates vero dolorum, minima </br>
        <br>
            dolores consequatur architecto earum impedit, eum distinctio nobis. 
        </br>
        <br>
            Praesentium provident et culpa voluptate, soluta enim necessitatibus facere!
        </br>
    </p>
    {%endblock content%}