{% extends "layout.html" %}
<!-- render flask wtf forms with bootstrap -->
{% from "_render_form.html" import render_form %}


{% block title %} {{title}} {% endblock title %} 
{%block content%}
    <div class="container-fluid"> 
        <div class="row">
            <!-- 
            novalidate makes it so the flask code does the validating
            -->
            <form action="" id="register" method="POST" novalidate> 
            <!-- 
            ms-auto setting the left and right margins of the element to auto
            text-center centers the elements with text
            -->
                <div class="col-lg-5 card text-white bg-dark rounded mx-auto mt-5">
                    <div class="card-body">
                        <h5 class="card-title">Please Register</h5>
                        <!-- Make the secret key work -->
                        {{ form.csrf_token }} 
                        <!-- username form function -->
                        {{ render_form(form.username, placeholder=form.username.label.text) }}
                        <!-- email form function -->
                        {{ render_form(form.email, placeholder=form.email.label.text) }}
                        <!-- password form function --> 
                        {{ render_form(form.password, placeholder=form.password.label.text) }}
                        <!-- confirm_password form function -->            
                        {{ render_form(form.confirm_password, placeholder=form.confirm_password.label.text) }}
                        <!-- button -->
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-success btn-lg mt-3">Register </button>
                        </div>
                
                    </div>
                </div>    
            </form>
        </div> <!--row div-->            
    </div> 
{% endblock content %}      

   






