{% extends "layout.html" %}
<!-- get the error message from wtf forms -->
{% from "_formhelpers.html" import render_field %}
<!-- render flask wtf forms with bootstrap -->
{% from "_render_form.html" import render_form %}

{% block content %}


<div class="container-fluid"> 
    <div class="row">
        <!-- 
        novalidate makes it so the flask code does the validating
        -->
        <form action="" id="reset_token" method="POST" novalidate> 
        <!-- 
        ms-auto setting the left and right margins of the element to auto
        text-center centers the elements with text
        -->
            <div class="col-lg-5 card text-white bg-dark rounded mx-auto mt-5">
                <div class="card-body">
                    <h5 class="card-title"> Reset your password </h5>
                    <!-- Make the secret key work -->
                    {{ form.csrf_token }} 
                    <!--  passwword reset form -->
                    {{ render_form(form.password, placeholder=form.password.label.text) }}
                    {{ render_form(form.confirm_password, placeholder=form.confirm_password.label.text) }}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success btn-lg mt-3"> reset password</button>
                    </div>            
                </div>
            </div>    
        </form>

    </div> <!--row div-->            
</div> 

        <!--make flash message work-->
        {%with messages = get_flashed_messages()%}
        {%if messages %}
                <ul class=flashes>
                {%for message in messages%}
                        <p1>  {{message}} </p1>
                {% endfor %}
                </ul>
        {% endif %}
        {% endwith %}



{% endblock content %}